<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title ~ ' | ' ~ site.title }}</title>
  <link rel="icon" href="{{ site.images ~ site.logo.src }}">
  {{ function('wp_head') }}
</head>
<body {{ function('body_class') }}>
<a href="#content" class="screen-reader-text">Skip to the Content</a>
<div class="sticky-footer-wrap">
  <div class="content-grid">
    {% include '@partials/header.twig' %}

    <main id="content" aria-labelledby="entry-title">
      {% block page_title %}{% endblock %}
      {% block content %}{% endblock %}
    </main>

    {% include '@partials/footer.twig' %}
  </div>
</div>

{{ function('wp_footer') }}
</body>
</html>

{% if debug %}
  <!-- {{ page.context }} -->
{% endif %}